<!doctype html>
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">  
  <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-social.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
 <title>XML Parser</title>
</head>

<script type="text/javascript">
  $(document).ready(function () {
    Dropzone.options.xmlupload = {
    paramName: "sample.XML", // The name that will be used to transfer the file
    maxFiles = 1, //
    maxFilesize: 700, // MB
    accept: function(file, done) {
      if (file.name == "sample.XML") {
        done("Naha, you don't.");
      }
      else { done(); }
    }
};
  });
</script>

<body>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Step 1: CRUD BULK UPDATE</h1>
      <hr>
      <form action="http://127.0.0.1:5000/heavy_update.html" method="POST" enctype="multipart/form-data" class="dropzone" id="xmlupload">
        <div class="form-row">
          <div class="form-group col-md-7">
            <label><strong><u>Select XML File</u></strong></label>
          </div>
        </div>
      </form>

      <form action="http://127.0.0.1:5000/heavy_update.html" method="POST" enctype="multipart/form-data" class="dropzone">
        <div class="form-row">
          <div class="form-group col-md-7">
            <label><strong><u>Select XLSX File</u></strong></label>
          </div>
        </div>
      </form>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
      <form action="http://127.0.0.1:5000/bulk_process.html" method="POST">
        <br>
           <input type="submit" class="btn btn-primary col-md-6" value="Process">
      </form>
      <br>
      <div class ="download">
        <form action="http://127.0.0.1:5000/download/download.xlsx">
          <input type="submit" class="btn btn-primary col-md-6" value="Download">
        </form>
      </div>

<a href="process_xml.html">Proceed to Step 2 after adding operation to your excel file!</a>
<br>
<a href="index"> Go back to home page</a>
</div>
</body>
</html>
